@charset "UTF-8";

:root{
    --cor1: #080061;
    --cor2: #8981E6;
    --cor3: #1300E0;
    --cor4: #130C61;
    --cor5: #0E00AD;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor2);
}

header{
    background-image: linear-gradient(to right, var(--cor3),  var(--cor2));
    
}

header > h1{
    color: white;
    padding-top: 50px;
    text-align: center;
}

header > p{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    padding-bottom: 50px;
}

section{
    max-width: 850px;
    margin: auto;
    background-color: white;
}

section#img01{
    background-image: url('../imagens/foto-carro-estrada-ensolarada.jpg');
    background-size: cover;
    background-position: center bottom;
    box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.727);
    background-attachment: fixed;
}

section#img01 > h1{
    text-align: center;
    text-shadow: 2px 2px 2px white;
    padding-bottom: 10px;
}

section#img01 > p {
    color: black;
    background-color: rgba(255, 255, 255, 0.581);
    max-width: 180px;
    padding: 10px;
    margin: right;
}

section#des {
    background-color: #8981E6;
}

section#des > a > img{
    max-height: 120px;
    max-width: 200px;
    padding: 10px;
    box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.426);
}

section#normal > p{
    text-align: justify;
    padding: 10px;
    text-indent: 10px;
    line-height: 25px;
}

section#normal > h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

section#img02{
    background-image: url('../imagens/Nissan-Compact-Sedan.jpg');
    background-size: cover;
    background-position: center ;
}

section#img02 > h2{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px 3px white;
}

section#img02 > p {
    text-align: justify;
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.533);
    padding: 10px;
    text-indent: 10px;
}

footer{
    font-size:1.4em;
    text-align: center;
    font-weight: bolder;
}